.adminPanel {
    max-width: 1180px;
    width: 100%;
    background-color: #171717;
    height: 800px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* ДОБАВИТЬ ПЕРСОНАЖА */
.addCharacterWrapper {
    width: 50%;
    border: 1px solid #e6a902;
    height: auto;
}



.addCharacterWrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.addCharacterTitle {
    color: #e6a902;
    font-size: 30px;
    margin: 10px 0px;
}

.addCharacterWrapper form textarea {
    border: 2px solid #e6a902;
    background-color: #fff;
    color: #000;
    margin: 10px 0px;
    width: 50%;
}

.addCharacterWrapper form select {
    border: 2px solid #e6a902;
    background-color: #fff;
    color: #000;
    margin: 10px 0px;
    width: 50%;
}

.addCharacterWrapper form input {
    border: 2px solid #e6a902;
    background-color: #fff;
    color: #000;
    margin: 10px 0px;
    width: 50%;
}

/* ДОБАВИТЬ ПЕРСОНАЖА */
/* УДАЛИТЬ ПЕРСОНАЖА */

.deleteCharacterWrapper {
    width: 50%;
    border: 1px solid #e6a902;
    height: auto;
}

.deleteCharacterTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #e6a902;
    font-size: 30px;
    margin: 10px 0px;
}

.deleteCharacterListAccounts{
    
}

.deleteCharacterHeader {
    display: flex;

}

.deleteCharacterHeader * {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6a902;
    border: 1px solid #e6a902;
}

.deleteCharacterRow{
    display: flex;
}

.deleteCharacterRow *{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6a902;
    border: 1px solid #e6a902;
}

.deleteCharacterButton{
    background-color: #f75252;
}


/* УДАЛИТЬ ПЕРСОНАЖА */