.imageViewing{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000008e;
}

.characterPhoto{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: contain;
    z-index: 0;
}

.imageCharacter{
    position: relative;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 100% 100%;
    object-fit: contain;
}

.exit{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}


.next{
    
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}

.main{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{

}

.characterInfo{
    margin-top: 40px;
    background-color: #171717;
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    height: 100%;
}

.fotoCarousel{
    max-height: 60%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.foroCarouselWrapper{

}

.fotoCarousel img{

    height: 200px;
    object-fit: cover;
} 

.descriptionAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descriptionAccount p{
    margin: 30px 0px;
    color: #e6a902;
}

.id{
    margin-top: 40px;
}


.class{

}

.date{

}

.description{

}

.price{
    background-color: #e6a902;
    height: 40px;
    max-width: 120px;
    width: 100%;
    margin-bottom: 40px;
}