
/* VARIABLES */
:root {
    --bodyColor: #000;
    --headerColor: #000;
    --tableCharactersColor: #171717;
    --fontColor: #e6a902;
    --footerColor: #171717; 
}

/* VARIABLES */

/* MAIN CLASSES */
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    background-color: var(--bodyColor);
}

/* MAIN CLASSES */

/* HEADER */

.header {
    background-image: url("../img/headerBg.jpg");
    background-repeat: no-repeat;
    background-color: var(--headerColor);
    background-position: 50% 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */

/* MAIN */

.main {
    width: 80%;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

.searchWrapper{
    height: 80px;
}

.search{
    width: 100%;
    height: 100%;
    border: 1px solid #e6a902;
    border-bottom: 0px;
    font-size: 28px;
}

.search:focus{
    background: #a87b00bd;
}

.tableCharacters {
    width: inherit;
    height: inherit;
    background: var(--tableCharactersColor);
}

.info{
    width: inherit;
    height: 100px;
    border: 1px solid #e6a902;
    border-bottom: none;
    display: flex;
    align-items: center;
    color: var(--fontColor);
}

.info p{
    width: 25%;
    display: flex;
    justify-content: center;
}

.character{
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    border: 1px solid #e6a902;
    color: var(--fontColor);
}  

.character__wrapperClass{
    width: 25%;
    display: flex;
    justify-content: center;
}

.character__nickname{
    width: 25%;
    display: flex;
    justify-content: center;
}

.character__date{
    width: 25%;
    display: flex;
    justify-content: center;
}

.character__price{
    width: 25%;
    display: flex;
    justify-content: center;
}
/* MAIN */

/* FOOTER */
.footer{
    margin-top: 40px;
    height: 120px;
    background-color: var(--footerColor);
}

.footer .wrapper{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .wrapper .author{
    margin: 0px 20px;
    text-align: center;
    color: var(--fontColor);
}
/* FOOTER */